$base-color: red;
$base-fond: Poppins;
// $border-color: redold;

html {
    box-sizing: border-box;
    line-height: 1.15;
    height: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-text-size-adjust: 100%
}
